body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

p {
    color: #666;
    font-size: 14px;
}

.date-link {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: #333;
}

.profile {
    display: inline-block;
    margin-right: 20px;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile p {
    text-align: center;
    margin-top: 10px;
}

.hidden {
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.modal-buttons {
    text-align: center;
    margin-top: 20px;
}

.modal-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-buttons button:first-child {
    background-color: #2f8386;
    color: white;
}

.modal-buttons button:first-child:hover {
    background-color: #2f8386;
}

.modal-buttons button:last-child {
    background-color: #f44336;
    color: white;
}

.modal-buttons button:last-child:hover {
    background-color: #da190b;
}

.mensaje-eliminacion {
    background-color: #2f8386;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}
.dark-mode {
    background-color: #333; 
    color: #fff; 
}

.dark-mode a {
    color: #fff; 
}

.dark-mode label {
    color: #fff; 
}

