body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; 
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 20px auto; 
}

h2 {
    font-size: 28px;
    font-weight: bold;
    color: #007bff; 
    margin-bottom: 20px;
    text-align: center;
}

.profiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile p {
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.modal-buttons button {
    margin: 0 10px;
}

.mensaje-eliminacion {
    background-color: #28a745; 
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.hidden {
    display: none;
}
